.mainBox {
    margin: 10px;
    padding: -10px
  }
  .lastBox {
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      background: rgb(3, 28, 34);
      color: rgb(255, 255, 255);
      font-family: Tinos;
  }
  .topBox {
      border : 1px solid black;
      height: 70px;
      width: 97.7%;
      position: fixed;
      display: flex;
      background-color: rgb(40, 45, 46);
      padding-left: 0.5rem;
      padding-right: 0.5rem;
  }
  .headerLogo {
    color: rgb(0, 235, 255);
    font-size: 38px;
    display: block;
    float: left;
    padding-right: 5px;
  }
  .headerTitle {
      font-size: 2.5rem;
      font-weight: bold;
      color: rgb(0, 235, 255);
  }
  .searchBox {
      position: relative;
      left: 380%;
      font-size: 18px;
      padding: 10px;
      margin: 10px;
      background: rgb(7, 31, 43);
      border: 1px solid rgb(255, 255, 255);
      border-radius: 3px;
  }
  .box {
      border: 1px solid rgb(151, 151, 151);
      border-radius: 4px;
      padding: 0.5rem;
      width: 250px;
      min-height: 450px;
      margin: 1rem;
  }
  .header {
      margin-bottom: 0.5rem;
      float: right;
      padding: 0.3rem;
      background-color: #92a8d1;
      color: rgb(0, 0, 0);
      font-size: 20px;
      border-radius: 5px;
  }
  img {
    width: 100%;
    height: 200px;
  }
  .about {
      display: flex;
      flex-wrap: wrap;
      padding-top: 10px;
  }
  
  .index{
      position: relative;
      display: block;
      float: left;
      color: rgb(0, 235, 255);
      font-size: 24px;
      padding-top: 5%;
  }