body {
    text-align: center;
    background-color:coral;;
    color: #111;
    border: 1px solid #111;
}

.employee-li{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    height: 200px;
    width: 81%;
}

h1{
    text-align: center;
}

.output{
    display: flex;
    justify-content: space-around;
    border: 1px solid #111;
    height: auto;
    width: 20%;
}
