#colorDiv {
	height: 25rem;
	width: 25rem;
	background-color: #10bcf4;
	border-radius: 50%;
	margin: 5% auto;
}

 button {
	padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#buttonFirst{
    background-color: red;
}

#buttonSecond{
    background-color: green;
}

#buttonThird{
    background-color: yellow;
}

#buttonFourth{
    background-color: blue;
}